<mat-list>
    <mat-list-item><a [routerLink]='"/projects/" + projectId'>Summary</a></mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><a  [routerLink]='"/projects/" + projectId+"/tasks"'>Task</a></mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><a [routerLink]='"/projects/" + projectId+"/members"'>Members</a></mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><a [routerLink]='"/projects/" + projectId+"/activities"'>Activities</a></mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><a [routerLink]='"/projects/" + projectId+"/releases"'>Releases</a></mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item><a [routerLink]='"/projects/" + projectId+"/reports"'>Reports</a></mat-list-item>
    <mat-divider></mat-divider>

</mat-list>