<form [formGroup]="formdata">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="formGroupExampleInput">Task's Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter task's name"
          formControlName="taskName" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Task's Code</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter task's code"
          formControlName="taskCode" required>
        <small id="emailHelp" class="form-text text-muted">Task's code should be unique.</small>
      </div>
  
      <div class="form-group">
        <label for="formGroupExampleInput">Project's Code</label>
        <input type="text" class="form-control" id="formGroupExampleInput" [value]="projectCode" readonly>
      </div>
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="taskDesc"
          required></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Start Day</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          formControlName="taskStart">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Deadline</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          formControlName="taskDeadline">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Assign to:</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option *ngFor="let user of assignable" [value]="user.id">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="createTask()">Create</button>
    </div>
  </form>