<!-- <div *ngFor="let project of projects | async">
  <div class="card" style="width: 100%; margin-top: 10px">
    <div class="card-body">
      <h5 class="card-title">{{project.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">by {{project.name}}</h6>
      <p class="card-text">{{project.id}}</p>
    </div>
  </div>
</div> -->

<table class="table" style="width: 500px; margin-top: 10%; margin-left: 30% ; ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project name</th>
      <th scope="col">From</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects | async" [routerLink]='"/projects/" + project.id' style="cursor: pointer;">
      <th scope="row">1</th>
      <td>{{project.name}}</td>
      <td>{{project.startDate}}</td>
      <td>{{project.status}}</td>
    </tr>
  </tbody>
</table>




