<div class="sticky header">
  <nav class="navbar navbar-expand-lg navbar-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >

      <i class="fa fa-home text-secondary fa-2x pointer" style="margin-right: 1%;" aria-hidden="true" [routerLink]="'/'"></i>
      <div class="search">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
          <i class="fa fa-search search-icon" [routerLink] aria-hidden="true"></i>
      </div>
      <button type="button" (click)="logout()" class="btn btn-outline-success my-2 my-sm-0 sign-out"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Logout</button>

    </div>
  </nav>
</div>