<mat-card class="people-list">
    <h4>People <i (click)="createUserDialog()" class="fa fa-plus-square pointer"></i></h4>
    <table mat-table [dataSource]="members">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Full Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedPeopleColumns"></tr>
        <tr mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedPeopleColumns; let element"></tr>
    </table>
</mat-card>