<div class="all-content">
  <app-sidebar class="sticky" id="sidebar-size"></app-sidebar>
  <div class="page-detail">
    <div class="project">
      <div class="project-title">
        <div class="project-title-content">
          <div class="project-title-content-name">
            <h4 class="home">Task Name: {{task.name}}</h4>
            <div style="display: flex; flex-flow: row;">
              <span class="path pointer" [routerLink]='"/"'>...</span>
              <span>/</span>
              <span class="path pointer" [routerLink]="'/projectDetail/' + task.parent.project.id">{{task.parent.project.name}}-{{task.parent.project.projectCode}}</span>
              <span>/</span>
              <span class="path pointer" [routerLink]="'/taskDetail/' + task.parent.id">{{task.parent.name}}-{{task.parent.taskCode}}</span>
              <span>/</span>
              <span class="path pointer" [routerLink]>{{task.name}}-{{task.taskCode}}</span>
            </div>
          </div>
        </div>
          <!-- <div class="project-title-content-button">
            <span class="badge pointer project-title-content-approve-button approve">Approve</span>
            <span class="badge pointer project-title-content-approve-button decline">Decline</span>
          </div> -->

        <div class="project-tag">
          <div class="badge badge-primary project-detail-tag">
            <span *ngIf="task.status == 'OP'">Opening</span>
            <span *ngIf="task.status == 'PR'">Processing</span>
            <span *ngIf="task.status == 'CP'">Complete</span></div>        
          <div class="badge badge-success project-detail-tag">
            <span *ngIf="task.state == 'AP'">Approved</span>
            <span *ngIf="task.state == 'PD'">Pendding</span>
            <span *ngIf="task.state == 'DC'">Decline</span></div>
          <div class="badge badge-warning project-detail-tag">Late: 5 days</div>
        </div>

      </div>
      <div class="project-classify">
        <div class="project-content">
          <div class="project-detail">
            <h4 class="project-detail-title">Details</h4>
            <table class="project-detail-table">
              <tr>
                <td>
                  <span class="label">Name: </span>
                  <span>{{task.name}}</span><br>
                  <span class="label">SubTask code: </span>
                  <span>{{task.taskCode}}</span><br>
                  <span class="label">Task code: </span>
                  <span>{{task.parent.taskCode}}</span><br>
                  <span class="label">Created date: </span>
                  <span>{{task.createdDate | amLocal:'en' | amDateFormat: 'MMMM Do YYYY, h:mm:ss a'}}</span><br>
                  <span class="label">Start date: </span>
                  <span>{{task.startDate| amLocal:'en' | amDateFormat: 'MMMM Do YYYY'}}</span><br>
                  <span class="label">Deadline: </span>
                  <span>{{task.deadline| amLocal:'en' | amDateFormat: 'MMMM Do YYYY'}}</span><br>
                </td>
                <td>
                  <span class="label">State: </span>
                  <span *ngIf="task.state == 'AP'">Approved</span>
                  <span *ngIf="task.state == 'PD'">Pendding</span>
                  <span *ngIf="task.state == 'DC'">Decline</span><br>
                  <span class="label">Status: </span>
                  <span *ngIf="task.status == 'OP'">Opening</span>
                  <span *ngIf="task.status == 'PR'">Processing</span>
                  <span *ngIf="task.status == 'CP'">Completed</span><br>
                  <span class="label">Reporter: </span>
                  <span>Author name</span><br>
                  <span class="label">Assign to: </span>
                  <span>Author name</span><br>
                </td>
              </tr>
            </table>

          </div>

          <div class="project-detail">

            <h4 class="project-detail-title">Description</h4>
            <textarea style="width: 100%; height: 20%;"></textarea>

          </div>
        </div>

        <div class="project-content">
          <div class="project-detail members">
            <h4 class="project-detail-title members">Show Log</h4>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Position</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>analyst</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
