<div class="all-content">
  <app-sidebar class="sticky" id="sidebar-size"></app-sidebar>
  <div class="page-detail">
    <div class="project">
      <div class="project-title">

        <div style="display: flex; flex-flow: column; max-width: 100%;">

          <h4 class="home">List of Activities</h4>
          
          <div style="margin-top: 1% ;">
          <table class="table" style="width: 90%;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
                <th scope="col">Project</th>
                <th scope="col">Task/Subtask</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activity of activities | async">
                <!-- <th scope="row">{{i}}</th> -->
                <td>Name</td>
                <td>{{activity.function}}</td>
                <td>Project</td>
                <td>Task/Subtask</td>
                <td>{{activity.createdDate}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>