<!-- <div class="all-content"> -->
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" style="height: 100%;">
    <div class="sidebar-header">

      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <h3>Project name</h3>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a [routerLink]='"/projectDetail/" + projectId'>Summary</a>
      </li>
      <li>
        <a [routerLink]='"/tasks/"'>Task</a>
      </li>
      <li>
        <a [routerLink]='"/members/"'>Members</a>
      </li>
      <li>
        <a [routerLink]='"/activities/"'>Activities</a>
      </li>
      <li>
        <a [routerLink]='"/releaseList/"'>Release</a>
      </li>
      <li>
        <a href="#">Report</a>
      </li>
    </ul>
  </nav>
</div>
<!-- </div> -->