<div class="container">
    <div class="task-header">
      <div>
        <a [routerLink]='"/"'>...</a>
        <span>/</span>
        <a *ngIf="task" [routerLink]>{{task.name}}-{{task.taskCode}}</a>
      </div>
    </div>
    <div>
      <div class="chip-list">
        <mat-chip-list aria-label="Fish selection" *ngIf="task">
          <mat-chip color="primary" selected *ngIf="task.status == 'OP'">Opening</mat-chip>
          <mat-chip color="accent" selected *ngIf="task.status == 'PR'">Processing</mat-chip>
          <mat-chip color="warn" selected *ngIf="task.status == 'CP'">Complete</mat-chip>
          <mat-chip color="primary" selected *ngIf="task.state == 'AP'">Approved</mat-chip>
          <mat-chip color="accent" selected *ngIf="task.state == 'PD'">Pendding</mat-chip>
          <mat-chip color="warn" selected *ngIf="task.state == 'DC'">Decline</mat-chip>
          <mat-chip color="accent" selected>Late: 0 days</mat-chip>
          <mat-chip color="warn" selected>Subasks: {{ task.subTasks.length }}</mat-chip>
          <mat-chip color="primary" selected>Members: 9</mat-chip>
        </mat-chip-list>
      </div>
      <div *ngIf="task" class="actions-container">
        <button matTooltip="Start" *ngIf="currentUser && task.state != 'PD' && task.status == 'OP'"
          mat-raised-button color="primary"><i class="fa fa-play" aria-hidden="true"></i></button>
        <button matTooltip="Start" *ngIf="currentUser && task.state != 'PD' && task.status == 'PR'"
          mat-raised-button color="accent"><i class="fa fa-stop" aria-hidden="true"></i>
        </button>
        <button *ngIf="currentUser && task.state != 'PD' && hasRole('ROLE_MANAGER')" mat-raised-button color="warn"><i
            class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button mat-raised-button color="primary"
          *ngIf="currentUser && task.state == 'PD' && ( hasRole('ROLE_MANAGER') || hasRole('ROLE_ADMIN') || hasRole('ROLE_DIRECTOR'))"
          (click)="approvetask()">Approve</button>
        <button mat-raised-button color="warn"
          *ngIf="currentUser && task.state == 'PD' && ( hasRole('ROLE_MANAGER') || hasRole('ROLE_ADMIN') || hasRole('ROLE_DIRECTOR'))"
          (click)="declinetask()">Decline</button>
      </div>
    </div>
    <div class="task-detail-left">
      <mat-card class="basic-info" *ngIf="task">
        <h3>Basic infomation</h3>
        <mat-form-field class="task-code-field">
          <mat-label>task code</mat-label>
          <input matInput type="text" [(ngModel)]="task.taskCode">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
  
        <mat-form-field class="task-name-field">
          <mat-label>task Name</mat-label>
          <input matInput type="text" [(ngModel)]="task.name">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </mat-card>
      <mat-card *ngIf="task && task.state != 'PD'" class="task-list">
        <h4>Sub Tasks <a (click)='createTaskDialog()'><i class="fa fa-plus-square pointer" aria-hidden="true"
              data-toggle="modal" data-target="#exampleModal"></i></a></h4>
        <table mat-table [dataSource]="task.subTasks">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="taskCode">
            <th mat-header-cell *matHeaderCellDef> Task Code </th>
            <td mat-cell *matCellDef="let element"> {{element.taskCode}} </td>
          </ng-container>
  
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Start Date </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate | amLocal:'en' | amDateFormat: 'MMMM Do YYYY' }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedTaskColumns"></tr>
          <tr mat-row [routerLink]="'/tasks/'+taskId+'/tasks/'+element.id" style="cursor: pointer;" *matRowDef="let row; columns: displayedTaskColumns; let element"></tr>
        </table>
      </mat-card>
    </div>
    <div class="task-detail-right">
      <mat-card *ngIf="task" class="summary-info">
        <h3 class="task-detail-title">Summary</h3>
        <mat-form-field>
          <mat-label>Created date</mat-label>
          <input matInput matDatepicker [formControl]="createdDateView">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Start date</mat-label>
          <input matInput matDatepicker [formControl]="startDateView">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Deadline</mat-label>
          <input matInput matDatepicker [formControl]="deadlineView">
        </mat-form-field>
        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select [value]="task.state" disabled>
            <mat-option value="AP">
              Approved
            </mat-option>
            <mat-option value="PD">
              Pendding
            </mat-option>
            <mat-option value="DC">
              Decline
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select [value]="task.status" disabled>
            <mat-option value="OP">
              Opening
            </mat-option>
            <mat-option value="PR">
              Processing
            </mat-option>
            <mat-option value="CP">
              Completed
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Author</mat-label>
          <input matInput type="text" disabled [(ngModel)]="task.createdBy">
        </mat-form-field>
      </mat-card>
  
      <mat-card class="people-list">
        <h4>People</h4>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Position</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>analyst</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>dev</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>dev</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>dev</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>dev</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>dev</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>dev</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>dev</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>dev</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>dev</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>dev</td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>