<mat-card class="task-list">
    <h4>Tasks <i (click)="createTaskDialog()" class="fa fa-plus-square pointer" aria-hidden="true" data-toggle="modal"
        data-target="#exampleModal"></i></h4>
        <table mat-table [dataSource]="tasks">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="taskCode">
            <th mat-header-cell *matHeaderCellDef> Task Code </th>
            <td mat-cell *matCellDef="let element"> {{element.taskCode}} </td>
          </ng-container>
  
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Start Date </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate | amLocal:'en' | amDateFormat: 'MMMM Do YYYY' }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedTaskColumns"></tr>
          <tr mat-row [routerLink]="'/projects/'+projectId+'/tasks/'+element.id" style="cursor: pointer;" *matRowDef="let row; columns: displayedTaskColumns; let element"></tr>
        </table>
  </mat-card>