<mat-drawer-container>
    <mat-drawer class="side-container" mode="side" opened>
        <app-task-menu></app-task-menu>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>