<form [formGroup]="formdata">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add member</h5>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="formGroupExampleInput">Username</label>
        <input type="text" class="form-control" placeholder="Username"
          formControlName="username" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Full Name</label>
        <input type="text" class="form-control" placeholder="Full Name"
          formControlName="fullName" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Password</label>
        <input type="password" class="form-control" placeholder="Password"
          formControlName="password" required>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="createUser()">Add</button>
    </div>
  </form>