{{ project | async | json}}
<table class="table" style="width: 500px; margin-top: 10%; margin-left: 30% ; ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project nam e</th>
        <th scope="col">From</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of [project] | async" [routerLink]='"/projects/" + project.id' style="cursor: pointer;">
        <th scope="row">1</th>
        <td>{{project.name}}</td>
        <td>{{project.startDate}}</td>
        <td>{{project.status}}</td>
      </tr>
    </tbody>