.container{
    margin-top: 50px;
    padding-top: 20px;
    background-color: #eff2f8b5;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
mat-form-field{
    width: 100%;
}

mat-form-field mat-icon{
    visibility: hidden;
}
mat-form-field:hover mat-icon{
    visibility: visible;
}
.project-detail-left{
    display: inline-block;
    width: 55%;
    margin-right: 10px;
    vertical-align: top;
}
.project-detail-right{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
mat-card{
    margin-top: 10px;
}

button{
    margin-right: 10px;
}
.actions-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
mat-chip{
    min-height: 20px;
    height: 20px;
    font-size: 11px;
}
table {
    width: 100%;
  }