<div class="container">
  <div class="project-header">
    <div>
      <a [routerLink]='"/"'>...</a>
      <span>/</span>
      <a *ngIf="project" [routerLink]>{{project.name}}-{{project.projectCode}}</a>
    </div>
  </div>
  <div>
    <div class="chip-list">
      <mat-chip-list aria-label="Fish selection" *ngIf="project">
        <mat-chip color="primary" selected *ngIf="project.status == 'OP'">Opening</mat-chip>
        <mat-chip color="accent" selected *ngIf="project.status == 'PR'">Processing</mat-chip>
        <mat-chip color="warn" selected *ngIf="project.status == 'CP'">Complete</mat-chip>
        <mat-chip color="primary" selected *ngIf="project.state == 'AP'">Approved</mat-chip>
        <mat-chip color="accent" selected *ngIf="project.state == 'PD'">Pendding</mat-chip>
        <mat-chip color="warn" selected *ngIf="project.state == 'DC'">Decline</mat-chip>
        <mat-chip color="accent" selected>Late: 0 days</mat-chip>
        <mat-chip color="warn" selected>Tasks: {{ project.tasks.length }}</mat-chip>
        <mat-chip color="primary" selected>Members: 9</mat-chip>
      </mat-chip-list>
    </div>
    <div *ngIf="project" class="actions-container">
      <button matTooltip="Start" *ngIf="currentUser && project.state != 'PD' && project.status == 'OP'"
        mat-raised-button color="primary"><i class="fa fa-play" aria-hidden="true"></i></button>
      <button matTooltip="Start" *ngIf="currentUser && project.state != 'PD' && project.status == 'PR'"
        mat-raised-button color="accent"><i class="fa fa-stop" aria-hidden="true"></i>
      </button>
      <button *ngIf="currentUser && project.state != 'PD' && hasRole('ROLE_MANAGER')" mat-raised-button color="warn"><i
          class="fa fa-trash" aria-hidden="true"></i>
      </button>
      <button mat-raised-button color="primary"
        *ngIf="currentUser && project.state == 'PD' && ( hasRole('ROLE_MANAGER') || hasRole('ROLE_ADMIN') || hasRole('ROLE_DIRECTOR'))"
        (click)="approveProject()">Approve</button>
      <button mat-raised-button color="warn"
        *ngIf="currentUser && project.state == 'PD' && ( hasRole('ROLE_MANAGER') || hasRole('ROLE_ADMIN') || hasRole('ROLE_DIRECTOR'))"
        (click)="declineProject()">Decline</button>
    </div>
  </div>
  <div class="project-detail-left">
    <mat-card class="basic-info" *ngIf="project">
      <h3>Basic infomation</h3>
      <mat-form-field class="project-code-field">
        <mat-label>Project code</mat-label>
        <input matInput type="text" [(ngModel)]="project.projectCode">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field class="project-name-field">
        <mat-label>Project Name</mat-label>
        <input matInput type="text" [(ngModel)]="project.name">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </mat-card>
    <mat-card *ngIf="project && project.state != 'PD'" class="task-list">
      <h4>Tasks <a (click)='createTaskDialog()'><i class="fa fa-plus-square pointer" aria-hidden="true"
            data-toggle="modal" data-target="#exampleModal"></i></a></h4>
      <table mat-table [dataSource]="project.tasks">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="taskCode">
          <th mat-header-cell *matHeaderCellDef> Task Code </th>
          <td mat-cell *matCellDef="let element"> {{element.taskCode}} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let element"> {{element.startDate | amLocal:'en' | amDateFormat: 'MMMM Do YYYY' }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedTaskColumns"></tr>
        <tr mat-row [routerLink]="'/projects/'+projectId+'/tasks/'+element.id" style="cursor: pointer;" *matRowDef="let row; columns: displayedTaskColumns; let element"></tr>
      </table>
    </mat-card>
  </div>
  <div class="project-detail-right">
    <mat-card *ngIf="project" class="summary-info">
      <h3 class="project-detail-title">Summary</h3>
      <mat-form-field>
        <mat-label>Created date</mat-label>
        <input matInput matDatepicker [formControl]="createdDateView">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start date</mat-label>
        <input matInput matDatepicker [formControl]="startDateView">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Deadline</mat-label>
        <input matInput matDatepicker [formControl]="deadlineView">
      </mat-form-field>
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select [value]="project.state" disabled>
          <mat-option value="AP">
            Approved
          </mat-option>
          <mat-option value="PD">
            Pendding
          </mat-option>
          <mat-option value="DC">
            Decline
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [value]="project.status" disabled>
          <mat-option value="OP">
            Opening
          </mat-option>
          <mat-option value="PR">
            Processing
          </mat-option>
          <mat-option value="CP">
            Completed
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Author</mat-label>
        <input matInput type="text" disabled [(ngModel)]="project.createdBy">
      </mat-form-field>
    </mat-card>

    <mat-card class="people-list">
      <h4>People</h4>
      <table mat-table [dataSource]="project.members">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Full Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedPeopleColumns"></tr>
        <tr mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedPeopleColumns; let element"></tr>
      </table>
    </mat-card>
  </div>
</div>