<div class="all-content">
  <app-sidebar class="sticky" id="sidebar-size"></app-sidebar>
  <div class="page-detail">
    <div class="project">
      <div class="project-title">

        <div style="display: flex; flex-flow: column; max-width: 100%;">

          <h4 class="home">List of Task</h4>
          
          <div style="margin-top: 1% ;">
          <table class="table" style="width: 90%;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Project name</th>
                <th scope="col">From</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks | async; let i = index;" [routerLink]='"/taskDetail/" + task.id' style="cursor: pointer;">
                <th scope="row">{{i}}</th>
                <td>{{task.name}}</td>
                <td>{{task.startDate}}</td>
                <td>{{task.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>