/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';


.all-content{
    display: flex;
    flex-flow: row;
    padding-top: 4%;
}

.page-detail{
    display: flex;
    /* padding-bottom: 0 0 4% 2%; */
    position: relative;
    left: 20%;
    width: 83%;
}

/* action */
.pointer {cursor: pointer;}

/* Home page css */

h4.home{
    /* margin-top: 20px;
    margin-left: 20px; */
    margin: 0;
}

.project-folder-home{
    margin: 1.5rem 1.5rem 0;
    cursor: pointer;
    width: 5rem;
}

.project-folder-home .fa-folder-o{
    color: lightpink;
}

.project-list-home{
    display: flex;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
    
}

.home-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20%;
    width: 80%;
    margin-top: 2%;
    padding-bottom: 4%;
}

hr.home{
    width:90%;
    border: 1.5px solid rgb(184, 180, 180);
}



/* Project page css */

.project{
    width: 100%;
    margin-top: 2%;
    /* padding-left: 20px; */
}

.project-folder-home-content{
    display: flex;
    flex-flow: wrap-reverse;
}

.project-content{
    width: 50%;
}

.project-title{
    /* margin-left: 40px; */
}

.project-title-content{
    /* display: flex;
    flex-flow: row; */
}

.project-title-content-name{
    width: 100%;
    margin-bottom: 1%;
}

.project-process-button{
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 8rem;
    font-size: 22px;
    color: #386186;
    margin-right: 1%;
}

.project-title-content-button{
    position: fixed;
    right: 5%;
    top: 10%;
    width: 20%;
}

.project-title-content-approve-button{
    border: none;
    height: 40px;
    width: 8rem;
    font-size: 22px;
}

.project-title-content-approve-button.approve{
    background-color: #7bade0;
    color: white;
}

.project-title-content-approve-button.decline{
    background-color: #f38297;
    color: white;
}

.project-title-content-status{
}

.project-tag{
    display: flex;
    padding-left: 20px;
    flex-flow: row;
}

.project-detail-tag{
    margin-right: 20px;
    width: 80px;
    text-align: left;
}

.project-classify{
    display: flex;
    width: 100%;
}

.project-detail{
    /* padding-left: 20px; */
    padding-top: 20px;
    width: 100%;
}

.project-detail-title{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
}

.project-content > .members{
    padding-left: 2%;
}

.project-detail .label{
    font-weight: 600;
}

.project-detail-table{
    width: 100%;
    border-collapse: 1px solid black;
}

.project-detail-table > tbody{
    vertical-align: unset;
}

.project-detail-table > tr >th:nth-child(1),td:nth-child(1){
    width: 70%;
    border-collapse: 1px solid black;
}

.table-sm{
    width: 80%;
}


/* header */

.header{
    background-color: aliceblue;
    z-index: 1001;
    top: 0;
    width: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.sticky {
    position: fixed;
  }

.sign-in{
    /* margin-left: 70%; */
    /* float: right; */
}

.search{
    display: flex;
    flex-flow: row;
}

.search-icon{
    position: absolute;
    top: 33%;
    left: 17.5%;
}

  /* side bar */

/*   
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
} */

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background-color: aliceblue;
    color: rgba(0,0,0,.5);
    transition: all 0.3s;
    /* height: 1000% !important; */
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #e5e8f7;
}

#sidebar ul.components {
    padding-top: 20px 0;
    border-right: 1rem solid aliceblue;
    border-left: 1rem solid aliceblue;
}

#sidebar ul p {
    color: rgba(0,0,0,.5);
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebar-size{
    height: 100%;
}

/* ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
} */

/* Task detail */

.path{
    display: flex;
    flex-flow: row;
    position: relative;
    color: blue !important;
    box-sizing: 0;
}


.path:hover{
    text-decoration: underline;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
