<div class="all-content">
  <div class="home-content">
    <div>
      <h4 class="home">Waiting project for approval
        <a (click)="refresh()"><i class="fa fa-refresh pointer" aria-hidden="true"></i></a>
      </h4>
      <div class="project-list-home ">
        <div class="project-folder-home" *ngFor="let project of projects | async"
          [routerLink]='"/projects/" + project.id'>
          <div>
            <i class="fa fa-folder-o fa-5x" aria-hidden="true"></i>
          </div>
          <div>
            <span>{{project.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <hr class="home">
    <h4 class="home">Present project
      <a (click)="refresh()"><i class="fa fa-refresh pointer" aria-hidden="true"></i></a>
    </h4>
    <div class="project-list-home">

      <div class="project-folder-home">
        <div data-target="exampleModal">
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button> -->
          <i class="fa fa-plus-square fa-5x text-success" aria-hidden="true"  (click)="createProjectDialog()"></i>
        </div>
        <div>
          <span>New project</span>
        </div>
      </div>
      <div class="project-folder-home">
        <div>
          <i class="fa fa-folder-o fa-5x" aria-hidden="true"></i>
        </div>
        <div>
          <span>Project name</span>
        </div>
      </div>

    </div>
    <!-- <hr class="home">
    <h4 class="home">Completed project
      <a (click)="refresh()"><i class="fa fa-refresh pointer" aria-hidden="true"></i></a>
    </h4> -->
    <!-- <div class="project-list-home">
      <div class="project-folder-home">
        <div>
          <i class="fa fa-folder-o fa-5x" aria-hidden="true"></i>
        </div>
        <div>
          <span>Project name</span>
        </div>
      </div>
      <div class="project-folder-home">
        <div>
          <i class="fa fa-folder-o fa-5x" aria-hidden="true"></i>
        </div>
        <div>
          <span>Project name</span>
        </div>
      </div>

    </div> -->
    <!-- <hr class="home">
    <h4 class="home">Company's project
      <a (click)="refresh()"><i class="fa fa-refresh pointer" aria-hidden="true"></i></a>
    </h4> -->
    <!-- <div class="project-list-home">
      <div class="project-folder-home">
        <div>
          <i class="fa fa-folder-o fa-5x" aria-hidden="true"></i>
        </div>
        <div>
          <span>Project name</span>
        </div>
      </div>
      
    </div> -->
  </div>
</div>
