<form [formGroup]="formdata">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create Project</h5>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="formGroupExampleInput">Project's Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter project's name"
        formControlName="projectName" required>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Project's Code</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter project's code"
        formControlName="projectCode" required>
      <small id="emailHelp" class="form-text text-muted">Project's code should be unique.</small>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="projectDesc"
        required></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Start Day</label>
      <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="projectStart" >
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Deadline</label>
      <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="projectDeadline" >
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onNoClick()" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" (click)="createProject()">Create</button>
  </div>
</form>